header {
    grid-area: header;
    height: 50px;
    padding: 0 3rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}

.login {
    margin: 0 1rem;
}