nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    grid-area: nav;
    color: aliceblue;
    background-color: #062657;
}

.container {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.item {
    padding: 0.7rem;
    margin-bottom: 0.6rem;
    transition: background-color 100ms ease-in;
}

.item:hover {
    cursor: pointer;
    background-color: #212e92;
}

.icon {
    width: 100%;
    height: 50px;
    text-align: center;
    transition: all ease-in-out 350ms;
    font-size: 20px;
}

.icon:hover {
    background-color: #212e92;
}

.active {
    background-color: #212e92;
}