html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100%;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    /*grid-template-columns: auto 50px auto;
    grid-template-rows: 60px auto 60px;
    grid-template-areas:
            "header header header"
            "nav . main"
            "footer footer footer";*/
}

main {
    padding: 60px 25px;
    flex-grow: 1;
    grid-area: main;
    background-color: aliceblue;
}
